h1 weather in #{weathers.name}
  p #{weathers.weather[0].description}
  p temperature: #{weathers.main.temp}°C
  p feels_like: #{weathers.main.feels_like}°C
  p wind speed: #{weathers.wind.speed} km/h




